.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4000;
    background-color: rgba($color-black, .8);
    // display: none; (cant animte it like this )
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 1rem 4rem rgba($color-black, .2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: table;
        overflow: hidden;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.3333333%; //ثلث
        // float: left;
        display: table-cell;

        @include respond(tab-land) {
            width: 100%;
            display: block;
            padding-bottom: 4rem;
        }
    }

    &__right {
        width: 66.6666666%; //سدس
        // float: left;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-land) {
            width: 100%;
            display: block;
        }
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-land) {
            width: 50%;
            height: 25rem;
            float: left;
            object-fit: cover;
            margin-bottom: 2rem;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid $color-grey-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include respond(phone) {
            column-count: 1;
        }
    }

    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }

}